*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(229, 202, 233);
  color: rgb(33, 36, 49);
  padding: 20px 0;
}

.container{
  width: 100%;
  padding: 0 20px;
  margin: auto;
}
.row{
  width: 100%;
}
button{
  width: 100%;
  appearance: none;
  background-color: rgb(248, 250, 164);
  border: 1px solid rgb(33, 36, 49);
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(33, 36, 49);
  border-radius: 3px;

  box-shadow: 2px 5px rgb(33, 36, 49);
}
button:active{
  box-shadow: 0 1px rgb(33, 36, 49);
  transform: translateY(4px);
}

/* ===== Header Component */
.app-name{
  color: rgba(33, 36, 49, 0.5);
  text-align: center;
  padding-bottom: 20px;
}


/* ===== Form Component ===== */
.form-component{
  background-color: rgb(247, 247, 214);
  border: 1px solid rgb(33, 36, 49);
  padding: 20px;
  border-radius: 4px;
}
.form-component-header{
  text-align: center;
  padding-bottom: 10px;
  color: rgba(33, 36, 49, 0.7);
  text-shadow: 1px 3px rgb(248, 250, 164);
  text-transform: uppercase;
  border-bottom: 1px solid rgba(33, 36, 49, 0.5);
  margin-bottom: 20px;
}
.form-component-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  justify-content: center;
}
.form-component-group label{
  line-height: 1.6;
}
.form-component-group input{
  border: 1px solid rgb(33, 36, 49);
  outline: none;
  padding: 5px 10px;
  background-color: rgb(248, 250, 164);
  border-radius: 3px;
}


/* ===== List Component ===== */
.list-component-group{
  padding: 20px 0;
}
.list-component-header,
.total-vehicles{
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: rgba(33, 36, 49, 0.7);
}
.total-vehicles{
  font-size: 0.8rem;
}
.vehicle-list{
  background-color: rgb(211, 252, 201);
  border: 1px solid rgb(33, 36, 49);
  border-radius: 4px;
  padding: 20px;
}
.vehicle{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(33, 36, 49, 0.5);
  padding: 10px 0;
}
.vehicle > div > :first-child{
  margin-bottom: 5px;
}
.vehicle > div:nth-child(2){
  text-align: right;
}
.checkOutBtn{
  padding: 5px 10px;
  background-color: rgb(165, 238, 147);
}

/* ===== from small to extra large screen ===== */
@media screen and (min-width: 576px) {
  .container{
    max-width: 520px;
  }
  .form-component-group{
    flex-direction: row;
    justify-content: unset;
    align-items: center;
  }
  .form-component-group label{
    flex-grow: 1;
    flex-basis: 100px;
  }
  .form-component-group input{
    flex-grow: 3;
  }
}

/* ===== from large to extra large screen ===== */
@media screen and (min-width: 992px) {
  .container{
    max-width: 920px;
  }
  .form-component{
    max-width: 520px;
    margin: auto;
  }
  .vehicle-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
  }
  .vehicle-list > .vehicle{
    max-width: 300px;
  }
}